<a href="https://colab.research.google.com/github/maheswaridevi3/project/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/kidney_disease.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [ ]:
numeric_cols = df.select_dtypes(include=['float64']).columns

In [ ]:
numeric_cols

Index(['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo'], dtype='object')

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy='mean')
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
df['classification'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [ ]:
df.head(50)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.000000,80.000000,1.020000,1.000000,0.000000,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.000000,50.000000,1.020000,4.000000,0.000000,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.000000,80.000000,1.010000,2.000000,3.000000,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.000000,70.000000,1.005000,4.000000,0.000000,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.000000,80.000000,1.010000,2.000000,0.000000,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.000000,90.000000,1.015000,3.000000,0.000000,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.000000,70.000000,1.010000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.000000,76.469072,1.015000,2.000000,4.000000,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.000000,100.000000,1.015000,3.000000,0.000000,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.000000,90.000000,1.020000,2.000000,0.000000,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
10,10,50.000000,60.000000,1.010000,2.000000,4.000000,NaN,abnormal,present,notpresent,...,28,NaN,NaN,yes,yes,no,good,no,yes,ckd
11,11,63.000000,70.000000,1.010000,3.000000,0.000000,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
12,12,68.000000,70.000000,1.015000,3.000000,1.000000,NaN,normal,present,notpresent,...,28,12200,3.4,yes,yes,yes,poor,yes,no,ckd
13,13,68.000000,70.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,yes,poor,yes,no,ckd
14,14,68.000000,80.000000,1.010000,3.000000,2.000000,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
15,15,40.000000,80.000000,1.015000,3.000000,0.000000,NaN,normal,notpresent,notpresent,...,24,3800,2.8,yes,no,no,good,no,yes,ckd
16,16,47.000000,70.000000,1.015000,2.000000,0.000000,NaN,normal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,no,no,ckd
17,17,47.000000,80.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,poor,no,no,ckd
18,18,60.000000,100.000000,1.025000,0.000000,3.000000,NaN,normal,notpresent,notpresent,...,37,11400,4.3,yes,yes,yes,good,no,no,ckd
19,19,62.000000,60.000000,1.015000,1.000000,0.000000,NaN,abnormal,present,notpresent,...,30,5300,3.7,yes,no,yes,good,no,no,ckd
20,20,61.000000,80.000000,1.015000,2.000000,0.000000,abnormal,abnormal,notpresent,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
21,21,60.000000,90.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,...,32,6200,3.6,yes,yes,yes,good,no,no,ckd
22,22,48.000000,80.000000,1.025000,4.000000,0.000000,normal,abnormal,notpresent,notpresent,...,32,6900,3.4,yes,no,no,good,no,yes,ckd
23,23,21.000000,70.000000,1.010000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,poor,no,yes,ckd
24,24,42.000000,100.000000,1.015000,4.000000,0.000000,normal,abnormal,notpresent,present,...,39,8300,4.6,yes,no,no,poor,no,no,ckd
25,25,61.000000,60.000000,1.025000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,29,8400,3.7,yes,yes,no,good,no,yes,ckd
26,26,75.000000,80.000000,1.015000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,35,10300,4,yes,yes,no,poor,no,no,ckd
27,27,69.000000,70.000000,1.010000,3.000000,4.000000,normal,abnormal,notpresent,notpresent,...,37,9600,4.1,yes,yes,yes,good,yes,no,ckd
28,28,75.000000,70.000000,1.017408,1.000000,3.000000,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,no,yes,no,good,no,no,ckd
29,29,68.000000,70.000000,1.005000,1.000000,0.000000,abnormal,abnormal,present,notpresent,...,38,NaN,NaN,no,no,yes,good,no,no,ckd
30,30,51.483376,70.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,no,good,no,no,ckd
31,31,73.000000,90.000000,1.015000,3.000000,0.000000,NaN,abnormal,present,notpresent,...,30,7800,4,no,no,no,poor,no,no,ckd
32,32,61.000000,90.000000,1.010000,1.000000,1.000000,NaN,normal,notpresent,notpresent,...,34,9600,4.0,yes,yes,no,poor,no,no,ckd
33,33,60.000000,100.000000,1.020000,2.000000,0.000000,abnormal,abnormal,notpresent,notpresent,...,29,NaN,NaN,yes,no,no,poor,no,no,ckd
34,34,70.000000,70.000000,1.010000,1.000000,0.000000,normal,NaN,present,present,...,NaN,NaN,NaN,no,yes,no,poor,no,no,ckd
35,35,65.000000,90.000000,1.020000,2.000000,1.000000,abnormal,normal,notpresent,notpresent,...,36,9800,4.9,yes,yes,no,poor,no,yes,ckd
36,36,76.000000,70.000000,1.015000,1.000000,0.000000,normal,normal,notpresent,notpresent,...,32,NaN,NaN,yes,no,no,good,no,no,ckd
37,37,72.000000,80.000000,1.017408,1.016949,0.450142,NaN,NaN,notpresent,notpresent,...,28,6900,2.5,yes,yes,no,poor,no,yes,ckd\t
38,38,69.000000,80.000000,1.020000,3.000000,0.000000,abnormal,normal,notpresent,notpresent,...,NaN,NaN,NaN,yes,no,no,good,no,no,ckd
39,39,82.000000,80.000000,1.010000,2.000000,2.000000,normal,NaN,notpresent,notpresent,...,40,9800,4.2,yes,yes,no,good,no,no,ckd
40,40,46.000000,90.000000,1.010000,2.000000,0.000000,normal,abnormal,notpresent,notpresent,...,32,9100,4.1,yes,no,\tno,good,no,no,ckd
41,41,45.000000,70.000000,1.010000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,yes,no,ckd
42,42,47.000000,100.000000,1.010000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,33,9200,4.5,yes,no,no,good,no,yes,ckd
43,43,35.000000,80.000000,1.010000,1.000000,0.000000,abnormal,NaN,notpresent,notpresent,...,24,7900,3.1,no,yes,no,good,no,no,ckd
44,44,54.000000,80.000000,1.010000,3.000000,0.000000,abnormal,abnormal,notpresent,notpresent,...,28,NaN,NaN,yes,yes,no,poor,yes,no,ckd
45,45,54.000000,80.000000,1.020000,3.000000,0.000000,NaN,abnormal,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,no,poor,yes,no,ckd
46,46,48.000000,70.000000,1.015000,0.000000,0.000000,NaN,normal,notpresent,notpresent,...,37,6400,4.7,no,yes,no,good,no,no,ckd
47,47,11.000000,80.000000,1.010000,3.000000,0.000000,NaN,normal,notpresent,notpresent,...,45,8600,NaN,no,no,no,good,no,no,ckd
48,48,73.000000,70.000000,1.005000,0.000000,0.000000,normal,normal,notpresent,notpresent,...,29,18900,3.5,yes,yes,no,good,yes,no,ckd
49,49,60.000000,70.000000,1.010000,2.000000,0.000000,normal,abnormal,present,notpresent,...,29,21600,3.5,yes,yes,no,poor,no,yes,ckd

In [ ]:
df['rc'].unique()

array(['5.2', nan, '3.9', '4.6', '4.4', '5', '4.0', '3.7', '3.8', '3.4',
       '2.6', '2.8', '4.3', '3.2', '3.6', '4', '4.1', '4.9', '2.5', '4.2',
       '4.5', '3.1', '4.7', '3.5', '6.0', '5.0', '2.1', '5.6', '2.3',
       '2.9', '2.7', '8.0', '3.3', '3.0', '3', '2.4', '4.8', '\t?', '5.4',
       '6.1', '6.2', '6.3', '5.1', '5.8', '5.5', '5.3', '6.4', '5.7',
       '5.9', '6.5'], dtype=object)

In [ ]:
df['htn'].unique()

array(['yes', 'no', nan], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
df['rbc'].unique()

array([nan, 'normal', 'abnormal'], dtype=object)

In [ ]:
df['pc'].unique()

array(['normal', 'abnormal', nan], dtype=object)

In [ ]:
df['pcc'].unique()

array(['notpresent', 'present', nan], dtype=object)

In [ ]:
df['ba'].unique()

array(['notpresent', 'present', nan], dtype=object)

In [ ]:
df['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '\t?', '52',
       '14', '22', '18', '42', '17', '46', '23', '19', '25', '41', '26',
       '15', '21', '43', '20', '\t43', '47', '9', '49', '50', '53', '51',
       '54'], dtype=object)

In [ ]:
df['wc'].unique()

array(['7800', '6000', '7500', '6700', '7300', nan, '6900', '9600',
       '12100', '4500', '12200', '11000', '3800', '11400', '5300', '9200',
       '6200', '8300', '8400', '10300', '9800', '9100', '7900', '6400',
       '8600', '18900', '21600', '4300', '8500', '11300', '7200', '7700',
       '14600', '6300', '\t6200', '7100', '11800', '9400', '5500', '5800',
       '13200', '12500', '5600', '7000', '11900', '10400', '10700',
       '12700', '6800', '6500', '13600', '10200', '9000', '14900', '8200',
       '15200', '5000', '16300', '12400', '\t8400', '10500', '4200',
       '4700', '10900', '8100', '9500', '2200', '12800', '11200', '19100',
       '\t?', '12300', '16700', '2600', '26400', '8800', '7400', '4900',
       '8000', '12000', '15700', '4100', '5700', '11500', '5400', '10800',
       '9900', '5200', '5900', '9300', '9700', '5100', '6600'],
      dtype=object)

In [ ]:
df['rc'].unique()

array(['5.2', nan, '3.9', '4.6', '4.4', '5', '4.0', '3.7', '3.8', '3.4',
       '2.6', '2.8', '4.3', '3.2', '3.6', '4', '4.1', '4.9', '2.5', '4.2',
       '4.5', '3.1', '4.7', '3.5', '6.0', '5.0', '2.1', '5.6', '2.3',
       '2.9', '2.7', '8.0', '3.3', '3.0', '3', '2.4', '4.8', '\t?', '5.4',
       '6.1', '6.2', '6.3', '5.1', '5.8', '5.5', '5.3', '6.4', '5.7',
       '5.9', '6.5'], dtype=object)

In [ ]:
df['htn'].unique()

array(['yes', 'no', nan], dtype=object)

In [ ]:
df['appet'].unique()

array(['good', 'poor', nan], dtype=object)

In [ ]:
df['dm'].unique()

array(['yes', 'no', ' yes', '\tno', '\tyes', nan], dtype=object)

In [ ]:
df['cad'].unique()

array(['no', 'yes', '\tno', nan], dtype=object)

In [ ]:
df['appet'].unique()

array(['good', 'poor', nan], dtype=object)

In [ ]:
df['pe'].unique()

array(['no', 'yes', nan], dtype=object)

In [ ]:
df['ane'].unique()

array(['no', 'yes', nan], dtype=object)

In [ ]:
df['classification'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [ ]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [ ]:
df['pcv'].replace({'\t?': np.nan}, inplace=True)

In [ ]:
df['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '52', '14',
       '22', '18', '42', '17', '46', '23', '19', '25', '41', '26', '15',
       '21', '43', '20', '\t43', '47', '9', '49', '50', '53', '51', '54'],
      dtype=object)

In [ ]:
pcv_mean = df['pcv'].astype('float').mean()

In [ ]:
df['pcv'] = df['pcv'].replace({'\t43': '43'})

In [ ]:
df['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28', nan,
       '16', '24', '37', '30', '34', '40', '45', '27', '48', '52', '14',
       '22', '18', '42', '17', '46', '23', '19', '25', '41', '26', '15',
       '21', '43', '20', '47', '9', '49', '50', '53', '51', '54'],
      dtype=object)

In [ ]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [ ]:
avg_pcv = df['pcv'].astype('float').mean()

In [ ]:
avg_rou =avg_pcv.round(2)

In [ ]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [ ]:
df['pcv'].replace(np.nan, avg_rou,inplace=True)

In [ ]:
df['pcv'].unique()

array(['44', '38', '31', '32', '35', '39', '36', '33', '29', '28',
       38.88449848024316, '16', '24', '37', '30', '34', '40', '45', '27',
       '48', '52', '14', '22', '18', '42', '17', '46', '23', '19', '25',
       '41', '26', '15', '21', '43', '20', '47', '9', '49', '50', '53',
       '51', '54'], dtype=object)

In [ ]:
df['pcv'] = pd.to_numeric(df['pcv'], errors='coerce')

In [ ]:
df.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object